<html>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <header>
    <title>{{title}}</title>
  </header>
  <body>
      <mat-toolbar class="mat-elevation-z6" color = "primary">
          <span>Home page</span>
          <span class = "filler"></span>
          <span><button mat-flat-button color="primary">Things</button></span>
          <span><button mat-flat-button color="primary">Tools</button></span>
          <span><button mat-stroked-button color="accent">Accent</button></span>
          <span><button mat-flat-button color="primary">About</button></span>
       </mat-toolbar>
       <br><br><br><br>
       <div class="wrapper centre-square">
        <div class= "mat-elevation-z6">
            <mat-toolbar class = "mat-elevation-z2" color = "warn">
                <p>Stuff</p>
              </mat-toolbar>
          <div class = "blocktext">
              If you really think td it is important to specify such things, then perhaps you should think of the consequences for your actions, bub.
            </div>
        </div>
        <div class= "mat-elevation-z6" flex="1 1 65%">
            <mat-toolbar class = "mat-elevation-z2" color = "warn">
                <p>Stuff</p>
              </mat-toolbar>
          <div class = "blocktext">
              If you really think that it is important to specify such things, then perhaps you should think of the consequences for your actions, bub.
            </div>
        </div>
      </div>
  </body>
</html>